{% extends "base.html.twig" %}

{% block main %}

<h1>Cadastro de Professor</h1>

   <form action="/professor/save" method="post">

      <div class="">
        <div class="mb-1 col-sm-12 col-md-6">
          <label for="matricula" class="form-label">Matrícula</label>
          <input type="text" class="form-control" name="matricula" id="matricula" placeholder="Matrícula do professor">
        </div>
        <div class="mb-1 col-sm-12 col-md-6">
          <label for="nomeprofessor" class="form-label">Nome do Professor</label>
          <input type="text" class="form-control" name="nome" id="nomeprofessor" placeholder="Informe o nome do professor">
        </div>

        <div>
          <div class="mb-1 col-sm-12 col-md-6">
            <label for="area" class="form-label">Área</label>
            <input type="text" class="form-control" name="area" id="area" placeholder="Informe a área de atuação">
          </div>


          <div class="mb-1 col-sm-12 col-md-6">
            <div class="form-floating">
              <select class="form-select" name="titulacao" id="floatingSelect" aria-label="Floating label select example">
                <option selected>Selecione a titulação</option>
                <option value="1">Bacharel</option>
                <option value="2">Especialista</option>
                <option value="3">Mestre</option>
                <option value="4">Doutor</option>
              </select>
              <label for="floatingSelect">Titulação</label>
            </div>
          </div>

          <div class="mb-1 col-sm-12 col-md-6">
            <div class="form-floating">
              <select class="form-select" name="nomeacao" id="floatingSelect" aria-label="Floating label select example">
                <option selected>Selecione a Nomeação</option>
                <option value="1">Concursado</option>
                <option value="2">Substituto</option>
                <option value="3">Temporário</option>
              </select>
              <label for="floatingSelect">Nomeação</label>
            </div>
          </div>


          <div class="mb-3 col-sm-12">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
          </div>

        </div>
    </form>

{% endblock %}